@model CapsuleCorp.Models.Turno

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="turnoID" />
            <div class="form-group">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="especialidad" class="control-label"></label>
                <select asp-for="especialidad" class="form-control" asp-items="Html.GetEnumSelectList<Especialidad>()">
                    <option selected="selected" value="">Seleccionar especialidad</option>
                </select>
                <span asp-validation-for="especialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pacienteID" class="control-label"></label>
                <select asp-for="pacienteID" class="form-control" asp-items="ViewBag.pacienteID"></select>
                <span asp-validation-for="pacienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary mt-2" />
                <a asp-action="Index" class="btn btn-primary mt-2">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}