@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos!</h1>
    <p>Te damos la bienvenida al nuevo sistema de CapsuleCorp, donde podrás administrar los turnos de tus pacientes.</p>
</div>