@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Te damos la bienvenida al nuevo sistema de CapsuleCorp, donde podrás administrar los turnos de tus pacientes.</p>
    
    <div>
        <img src="/images/banner.png" class="img-responsive center-block" alt="Responsive image" id="image">
        <style>
            #image
            {
                width: 500px;
                height: 500px;
            }
        </style>
    </div>
</div>