@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Te damos la bienvenida al nuevo sistema de CapsuleCorp, donde podrás administrar los turnos de tus pacientes.</p>
  
    <div>
        <div>
            <div>
                <img src="/images/banner.png" class="img-responsive center-block" alt="Responsive image">
                <br>
                <a asp-area="" asp-controller="Paciente" asp-action="Index" class="btn btn-primary mr-3">Ver Pacientes</a>
                <a asp-area="" asp-controller="Turno" asp-action="Index" class="btn btn-primary">Ver Turnos</a>
            </div>
        </div>
    </div>

</div>