@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Te damos la bienvenida al nuevo sistema de CapsuleCorp, donde podrás administrar los turnos de tus pacientes.</p>
    
    <div>
        <img src="/images/banner.png" class="img-responsive center-block" alt="Responsive image">
        <br>
        <a asp-area="" asp-controller="Administrador" asp-action="Login" class="btn btn-primary">Iniciar sesión</a>
    </div>
</div>