@model CapsuleCorp.Models.Administrador

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="@Url.Content("~/css/login/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/login/util.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/estilos.css")" rel="stylesheet" type="text/css" />

<div align="center" class="mt-5">
    <img src="/images/login.png" class="img-responsive center-block" alt="Responsive image" id="imagen">
    <style>
        #imagen
        {
            width: 230px;
            height: 230px;
            border-radius: 80px;
        }
    </style>
</div>

<div align="center" class="mt-5">
    <form asp-action="Login">
        <div class="mb-3 mt-3">
            <label for="email">E-mail:</label> <br>
            <input asp-for="mail" type="email" class="form-control col-lg-3" placeholder="Ingrese su e-mail" name="mail">
        </div>
        <div class="mb-3">
            <label for="pwd">Contraseña:</label> <br>
            <input asp-for="contrasenia" type="password" class="form-control col-lg-3 " placeholder="Ingrese su contraseña" name="contrasenia">
        </div>
        <button type="submit" class="btn btn-primary mt-5">Iniciar sesión</button>
    </form>
</div>